################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Datacubist/Datacubist.Common/obj/Debug
/.vs/BIMTools/v15/Server/sqlite3
/Datacubist/Datacubist.ModelViews/obj/Debug
/Datacubist/Datacubist.Palettes/obj/Debug
/Datacubist/Datacubist.Workspaces/obj/Debug
/Datacubist/ModelCompare/obj/Debug
/BIMTools.v12.suo
/Datacubist/ModelCompare/bin/Debug
/.vs/BIMTools/v15
/Datacubist/Datacubist.Common/obj/x64/Debug
/Datacubist/Datacubist.Common/bin/x64/Debug
/Datacubist/Datacubist.ModelViews/bin/x64/Debug
/Datacubist/Datacubist.ModelViews/obj/x64/Debug
/Datacubist/Datacubist.Palettes/bin/x64/Debug
/Datacubist/Datacubist.Palettes/obj/x64/Debug
/Datacubist/Datacubist.Workspaces/bin/x64/Debug
/Datacubist/Datacubist.Workspaces/obj/x64/Debug
/Datacubist/ModelCompare/bin/x64/Debug
/Datacubist/ModelCompare/obj/x64/Debug
/OpenStudio/OpenStudioMeasuresViewer/bin/Debug
/OpenStudio/OpenStudioMeasuresViewer/obj/Debug
/packages/Newtonsoft.Json.11.0.2
/packages/Newtonsoft.Json.10.0.3
/Shared/BIMTools.Shared/obj/Debug
